{% extends "::base-custom-admin.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <a class="btn btn-info btn-md" href="{{ path('admin-users') }}">Back</a>
            <ul>
                <li>{{ user.firstname }}</li>
                <li>{{ user.lastname }}</li>
                <li>{{ user.email }}</li>
                <li>{{ user.locale }}</li>
                <li>{{ user.phone }}</li>
            </ul>

        </div>
    </div>
{% endblock %}
