<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/simple-sidebar.css') }}" />

    <link rel="stylesheet" href="/css/simple-sidebar.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
    <body>
        <div id="wrapper" class="col-md-12">

            <!-- Sidebar -->
            <div id="sidebar-wrapper" class="col-md-3">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Custom admin dashboard
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin-products') }}">Products</a>
                    </li>
                    <li>
                        <a href="{{ path('admin-producers') }}">Producers</a>
                    </li>
                    <li>
                        <a href="{{ path('admin-managers') }}">Managers</a>
                    </li>
                    <li>
                        <a href="{{ path('admin-product-categories') }}">Product Categories</a>
                    </li>
                    <li>
                        <a href="{{ path('admin-users') }}">Users</a>
                    </li>
                    <li>
                        <a href="{{ path('admin-discounts') }}">Discounts</a>
                    </li>
                    <li>
                        <a href="{{ path('admin-delivery-services') }}">Delivery services</a>
                    </li>
                </ul>
            </div>

            <div id="page-content-wrapper" class="col-md-9">
                <div id="content">{% block content %}{% endblock %}</div>
            </div>

        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{ asset('js/admin.js') }}"></script>
    </body>
</html>