{% extends "::base-custom-admin.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <h3>View product:</h3>
            <a class="btn btn-info btn-md" href="{{ path('admin-products') }}">Back</a>
            <ul>
                <li>{{ product.name }}</li>
                <li>{{ product.description }}</li>
                <li>{{ product.price }}</li>
                <li>
                    {% if product.category is not null %}
                        {{ product.category.name }}
                    {% endif %}
                </li>
            </ul>

        </div>
    </div>
{% endblock %}
