{% extends "::base-custom-admin.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <h3>View discount:</h3>
            <a class="btn btn-info btn-md" href="{{ path('admin-discounts') }}">Back</a>
            <ul class="list-group">
                <li class="list-group-item">{{ discount.title }}</li>
                <li class="list-group-item">{{ discount.totalCount }}</li>
                <li class="list-group-item">{{ discount.totalPrice }}</li>
                <li class="list-group-item">{{ discount.discountSizePercent }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
