{% extends "::base.html.twig" %}

{% block title %}AppProjectBundle:Product:show{% endblock %}

{% block body %}

<div class="row">

    <div class="span12 col-md-12">
        <h2>{{product[0].name}}</h2>
        <div class="span3 col-md-4">
            
            {% media product[0].media, 'big' %}
            <h5>Description:</h5>
            <p>{{ product[0].description }}</p>

        </div>

        <div class="col-md-8">

        <select name="country"data-width="100%">
            {% for key,val in form.country.vars.choices %}
                 <option value="{{ val.value }}" {{  form.country.vars.value ? ' selected ' :(val.value == form.country.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>
            % endfor %}
        </select>

        {% if product[0].category %}
            {{ product[0].category.name }}
        {% endif %}

        {{ product[0].category ? product[0].category.description }}

        {#{% if product[0] == false %}#}
            {#<p>Our website is in maintenance mode. Please, come back later.</p>#}
        {#{% endif %}#}

        {#<div class="span3 col-lg-1 pull-right">#}
            {#<h5>Weather:</h5>#}
            {#<p>#}
                {#<img src="{{ weather['icon'] }}" alt="Weather icon" height="42" width="42">#}
                {#{{ weather['temperature'] }}#}
            {#</p>#}
            {#<p>Measurement time: {{ weather['time'] }}</p>#}
            {#<p>Wind speed: {{ weather['wind_speed'] }}</p>#}
            {#<p>Pressure: {{ weather['pressure'] }}</p>#}
            {#<p>{{ weather['description'] }}</p>#}
        {#</div>#}
        </div>
    </div> 
</div>    
{% endblock %}
